  
@import "tailwindcss";

/* =========================
   BRAND COLOR SYSTEM
========================= */
/* ===============================
   Luxury Black + Gold Theme
   =============================== */
:root {
  --brand-bg: #0b0b0b;        /* Deep Black */
  --brand-text: #f5f5f5;     /* Off-white text */

 /* METALLIC GOLD SYSTEM */
  --gold-dark: #8c6f1e;     /* Shadow */
  --gold-main: #c9a227;     /* Base gold */
  --gold-light: #ffd700;    /* Highlight */
  --gold-soft: #b8962e;     /* Border */
}

/* Base styles */
html,
body {
  background-color: var(--brand-bg);
  color: var(--brand-text);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-gold {
  background: linear-gradient(
    135deg,
    var(--gold-dark) 0%,
    var(--gold-main) 30%,
    var(--gold-light) 50%,
    var(--gold-main) 70%,
    var(--gold-dark) 100%
  );
}

/* Metallic gold text */
.text-gold {
  background: linear-gradient(
    90deg,
    var(--gold-light),
    var(--gold-main),
    var(--gold-dark)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gold border */
.border-gold {
  border-color: var(--gold-soft);
}
.hover-gold:hover {
  background: linear-gradient(
    135deg,
    var(--gold-light),
    var(--gold-main),
    var(--gold-dark)
  );
}

 .hover-text:hover {
    background: linear-gradient(
      90deg,
      var(--gold-light),
      var(--gold-main),
      var(--gold-light)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .glass-card {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 215, 0, 0.25);
  border-radius: 14px;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
.curved-bottom {
  clip-path: ellipse(100% 90% at 50% 0%);
}


.curved-top {
  clip-path: none;
}
/* Laptop & above only */
@media (min-width: 1024px) { 
  .curved-top {
 clip-path: ellipse(100% 100% at 50% 100%);  }
}

/* Wave animation */
@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-wave {
  animation: waveMove 15s linear infinite;
}
